.calc {
    position: relative;
    z-index: 3;
    @media (max-width: $breakpoint_md) {
        height: fit-content;
    }
    &.transformed {
        z-index: 10;
    }
    &__wrapper {
        position: relative;
        height: 770px;
        transition: 2s;

        &.transformed {
            height: 1300px;
            margin-bottom: 150px;
            @media (max-width: $breakpoint_md) {
                height: fit-content;
            }
            &:before {
                height: 1700px;  
                @include image("calc__bg_transformed.svg", cover);
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: -100px; 
            display: block; 
            width: 100%;
            height: 900px;  
            @include image("calc__bg.svg", cover);
            z-index: 1;
        }
    }

    #calc__canvas {
        position: absolute;
        top: -300px;
        left: -250px;
        z-index: 1;
        transition: 2s;
        @media (max-width: $breakpoint_xl) {
            max-width: 900px;
            top: -150px;
            left: -150px;
        }
        @media (max-width: $breakpoint_md) {
            max-width: 100%;
            top: -100px;
            left: 0px;
        }
    }

    #calc__canvas.transformed {
        left: calc(50% - 450px);
        top: 180px;
        @media (max-width: $breakpoint_xl) {
            left: calc(50% - 350px);
            top: 270px;
        }
        @media (max-width: $breakpoint_md) {
            max-width: 100%;
            top: -100px;
            left: 0px;
        }
    }

    &__block {
        position: relative;
        z-index: 10;
        width: 100%;
        top: 150px;
        max-width: 750px;
        float: right;
        opacity: 1;
        transition: 2s;
        &.hidden {
            opacity: 0;
            z-index: 1;
        }
        @media (max-width: $breakpoint_xl) {
            max-width: 500px;
            width: fit-content;
            float: none;
            margin: auto;
            top: 75px;
            left: 300px;
        }
        @media (max-width: $breakpoint_md) {
            width: 100%;
            float: none;
            left: 0;
            top: 150px;
            margin: auto;
        }
    }
    &__inputs {
        display: flex;
        flex-wrap: wrap;

        input, select, .select__wrapper {
            outline:none;
            font-family: Lato-Regular;
            width: 100%;
            max-width: 342px;
            height: 55px;
            display: flex;
            background: transparent;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 90px;
            box-sizing: border-box;
            padding: 10px 20px;
            margin-bottom: 24px;
            font-size: 16px;

            @media (max-width: $breakpoint_xl) {
                max-width: 350px;
                margin-bottom: 12px;
                height: 50px;
            }
            @media (max-width: $breakpoint_md) {
                max-width: 100%;
            }
            &:nth-child(2n + 1) {
                margin-right: 24px;
                @media (max-width: $breakpoint_xl) {
                    margin-right: 0;
                }
                @media (max-width: $breakpoint_md) {
                    margin-right: 0;
                }
            }
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            width: 100%;
            &>option {
                color: #000;
            }
         }
        
        .select__wrapper {
            position: relative;
            border: 0;
            padding: 0;
            &:after {
                content: '\02C5';
                position: absolute;
                font-family: Lato-Light;
                right: 20px;
                top: 10px;
                font-size: 34px;
                font-weight: 300;
                height: 34px;
                pointer-events: none;
                z-index: 10;
                @media (max-width: $breakpoint_xl) {
                    top: 8px;
                }
           }
        }

        select::-ms-expand {
            display: none;
        }
    } 

    button {
        font-family: Lato-Regular;
        width: 342px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        border-radius: 90px;
        box-sizing: border-box;
        padding: 10px 20px;
        background: linear-gradient(269.48deg, #EDA6C9 2.9%, #D76DA0 97.08%);
        border: 0;
        cursor: pointer;
        font-size: 16px;
        &:hover {
            background: linear-gradient(269.48deg, #F09FE0 2.9%, #EA5DA0 109.39%);
        }
        @media (max-width: $breakpoint_xl) {
            max-width: 350px;
            height: 50px;
            width: 100%;
        }
        @media (max-width: $breakpoint_md) {
            width: 100%;
            max-width: 100%;
        }
    }

    h2 {
        margin-bottom: 20px;
    }

    &__transformed {
        width: 100%;
        max-width: inherit;
        position: absolute;
        top: 0;
        opacity: 1;
        transition: 2s;
        z-index: 8;
        &.hidden {
            opacity: 0;
        }
        @media (max-width: $breakpoint_md) {
            position: relative;
            height: fit-content;
        }

        h2 {
            text-align: center;
            margin-bottom: 50px;
        }
        @media (max-width: $breakpoint_md) {
            max-width: 100%;
        }

        .calc{
            &__data {
                width: 100%;
                display: flex;
                justify-content: space-between;
                @media (max-width: $breakpoint_md) {
                    flex-direction: column;
                }
                &>div {
                    font-family: Lato-Regular;
                    width: 342px;
                    height: 66px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: #EA9DC3;
                    border: 1px solid #EA9DC3;
                    border-radius: 90px;
                    box-sizing: border-box;
                    padding: 10px 20px;
                    @media (max-width: $breakpoint_xl) {
                        width: 250px;
                        height: 50px;
                    }
                    @media (max-width: $breakpoint_md) {
                        width: 100%;
                        margin-bottom: 10px;
                        height: 50px;
                    }
                }
            }

            &__description {
                position: relative;
                width: 100%;
                height: 600px;
                margin-top: 70px;
                @media (max-width: $breakpoint_md) {
                    height: fit-content;
                    margin-bottom: 20px;
                }
                &>div {
                    width: 100%;
                    max-width: 430px;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: $breakpoint_xl) {
                        max-width: 325px;
                    }
                    @media (max-width: $breakpoint_md) {
                        max-width: 100%;
                        margin-bottom: 30px;
                    }
                    &>p:nth-child(1) {
                        position: relative;
                        width: 100%;
                        max-width: 264px;
                        display: inline-block;  
                        font-family: Lato-Regular;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: #EA9DC3;
                        padding: 0 30px 22px 30px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #EA9DC3;
                        @media (max-width: $breakpoint_md) {
                            max-width: 100%;
                            text-align: center;
                        }
                    }
    
                    &:nth-child(1) {
                        position: absolute;
                        left: 0;
                        top: 0;
                        @media (max-width: $breakpoint_md) {
                            position: relative;
                        }
                        &>p:nth-child(1) {
                            left: 30px;
                            text-align: right;
                            align-self: flex-end;
                            @media (max-width: $breakpoint_md) {
                                left: 0;
                                text-align: center;
                                align-self: flex-start;
                            }
                        }
                        &>p:nth-child(2) {
                            max-width: 424px;
                            text-align: right;
                            align-self: flex-end;
                            @media (max-width: $breakpoint_xl) {
                                max-width: 325px;
                            }
                            @media (max-width: $breakpoint_md) {
                                max-width: 100%;
                                text-align: left;
                                align-self: flex-start;
                            }
                        }
                    }
    
                    &:nth-child(2) {
                        position: absolute;
                        left: 0px;
                        top: 260px;
                        @media (max-width: $breakpoint_md) {
                            position: relative;
                            top: 0;
                        }
                        &>p:nth-child(1) {
                            left: 30px;
                            text-align: right;
                            align-self: flex-end;
                            @media (max-width: $breakpoint_md) {
                                left: 0;
                                text-align: center;
                                align-self: flex-start;
                            }
                        }
                        &>p:nth-child(2) {
                            max-width: 336px;
                            text-align: right;
                            align-self: flex-end;
                            @media (max-width: $breakpoint_xl) {
                                max-width: 250px;
                            }
                            @media (max-width: $breakpoint_md) {
                                max-width: 100%;
                                text-align: left;
                                align-self: flex-start;
                            }
                        }
                    }
    
                    &:nth-child(3) {
                        position: absolute;
                        right: 0;
                        top: 50px;
                        @media (max-width: $breakpoint_md) {
                            position: relative;
                            top: 0;
                        }
                        &>p:nth-child(1) {
                            right: 30px;
                            align-self: flex-start;
                            text-align: left;
                            @media (max-width: $breakpoint_md) {
                                right: 0;
                                text-align: center;
                                align-self: flex-start;
                            }
                        }
                        &>p:nth-child(2) {
                            max-width: 434px;
                            align-self: flex-start;
                            text-align: left;
                            @media (max-width: $breakpoint_xl) {
                                max-width: 250px;
                            }
                            @media (max-width: $breakpoint_md) {
                                max-width: 100%;
                                text-align: left;
                                align-self: flex-start;
                            }
                        }
                    }
                }
            }

            &__more {
                width: 100%;
                max-width: inherit;

                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: $breakpoint_md) {
                    flex-direction: column;
                }
                &>div {
                    cursor: pointer;
                    width: 342px;
                    height: 55px;
                    margin: 0 13px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    background: linear-gradient(269.48deg, #EDA6C9 2.9%, #D76DA0 97.08%);
                    box-shadow: 0px 4px 12px rgba(92, 81, 154, 0.29);
                    border-radius: 90px;
                    @media (max-width: $breakpoint_md) {
                        max-width: 100%;
                        font-size: 16px;
                    }

                    &:hover {
                        background: linear-gradient(269.48deg, #F09FE0 2.9%, #EA5DA0 109.39%);
                    }

                    &:nth-child(2) {
                        background: linear-gradient(244.24deg, #A9D1FA 8.88%, #8C80CF 84.02%);
                        box-shadow: 0px 4px 12px #5572A8;
                        @media (max-width: $breakpoint_md) {
                            margin-top: 20px;
                        }
                        &:hover {
                            background: linear-gradient(244.24deg, #59BBE9 8.88%, #4E55BF 84.02%);
                        }
                    }
                }
            }
        }

        .stamp {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            @media (max-width: $breakpoint_md) {
                flex-direction: column;
            }

            &__links {
                width: 100%;
                max-width: 464px;
                height: 226px;
                background: rgba(255, 255, 255, 0.14);
                border-radius: 30px;
                padding: 20px 30px;
                @media (max-width: $breakpoint_xl) {
                    max-width: 350px;
                    margin-right: 20px;
                }
                @media (max-width: $breakpoint_md) {
                    margin-bottom: 20px;
                }
                &>p {
                    position: relative;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &.active {
                        color: #EA9DC3;
                        &:before {
                            content: '';
                            width: 5px;
                            height: 5px;
                            margin-right: 7px;
                            background: #EA9DC3;
                            border-radius: 50px;
                        }
                    }
                }

                a {
                    margin-top: 5px;
                    font-family: Lato-Medium;
                    font-weight: 500;
                    font-size: 16px;
                    color: #3A406E;
                    text-decoration: underline;
                }
            }

            &__text {
                width: 100%;
                max-width: 950px;
                &>* {
                    &:nth-child(1) {
                    font-family: Lato-Medium;
                    font-size: 18px;
                    @media (max-width: $breakpoint_xl) {
                        font-size: 16px;
                    }
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                    }
                    &:nth-child(2) {
                        font-family: Lato-Light;
                        font-size: 18px;
                        @media (max-width: $breakpoint_xl) {
                            font-size: 16px;
                        }
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }

                &.hidden {
                    display: none;
                }
            }
        }
    }
}