.calc {
    position: relative;
    z-index: 3;

    @media (max-width: $breakpoint_md) {
        height: fit-content;
    }

    &.transformed {
        z-index: 10;
    }

    &__wrapper {
        position: relative;
        height: 770px;

        //transition: 2s;
        @media (max-width: $breakpoint_md) {
            height: 700px;
        }

        &.transformed {
            height: fit-content;
            margin-bottom: 300px;

            @media (max-width: $breakpoint_md) {
                height: fit-content;
                margin-bottom: 300px;
            }

            &:before {
                height: 1700px;
                @include image("calc__bg_transformed.png", cover);
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: -100px;
            display: block;
            width: 100%;
            height: 900px;
            @include image("calc__bg.png", cover);
            will-change: transform;
            z-index: 1;
        }
    }

    #calc__canvas {
        position: absolute;
        bottom: 537px;
        left: -250px;
        z-index: 1;
        transition: 1s;

        @media (max-width: $breakpoint_xl) {
            max-width: 900px;
            bottom: 650px;
            left: -150px;
        }

        @media (max-width: $breakpoint_md) {
            display: none;
        }
    }

    #calc__canvas.transformed {
        left: calc(50% - 450px);
        bottom: -34px;

        @media (max-width: $breakpoint_xl) {
            left: calc(50% - 360px);
            bottom: 85px;
        }

        @media (max-width: $breakpoint_md) {
            max-width: 100%;
            top: -100px;
            bottom: 0px;
        }
    }

    &__block {
        position: relative;
        z-index: 10;
        width: 100%;
        top: 150px;
        max-width: 750px;
        float: right;
        opacity: 1;
        transition: 1s;

        &.hidden {
            position: absolute;
            opacity: 0;
            z-index: 1;

            @media (max-width: $breakpoint_md) {
                position: absolute;
            }
        }

        @media (max-width: $breakpoint_xl) {
            max-width: 500px;
            width: fit-content;
            float: none;
            margin: auto;
            top: 180px;
            left: 300px;
        }

        @media (max-width: $breakpoint_md) {
            width: 100%;
            float: none;
            left: 0;
            top: 150px;
            margin: auto;
        }
    }

    &__inputs {
        display: flex;
        flex-wrap: wrap;

        .birthplace__wrapper {
            position: relative;
            width: 100%;
            max-width: 342px;
            height: 55px;

            @media (max-width: $breakpoint_xl) {
                max-width: 230px;
                margin-bottom: 12px;
                height: 45px;
            }

            @media (max-width: $breakpoint_md) {
                max-width: 100%;
            }

            #birthplace__autocomplete {
                display: none;
                position: absolute;
                top: 70px;
                width: 100%;
                height: fit-content;
                padding: 5px;
                border: 1px solid #fff;
                border-radius: 15px;
                background: rgba(58, 64, 110, 0.8);

                &.active {
                    display: flex;
                }

                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 50;


                @media (max-width: $breakpoint_xl) {
                    top: 50px;
                }

                @media (max-width: $breakpoint_md) {
                    top: 50px;
                }

                &>div {
                    font-family: Lato-Regular;
                    font-size: 17px;
                    margin-bottom: 5px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        input,
        select,
        .select__wrapper {
            outline: none;
            font-family: Lato-Regular;
            width: 100%;
            max-width: 342px;
            height: 55px;
            display: flex;
            background: transparent;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 90px;
            box-sizing: border-box;
            padding: 10px 20px;
            margin-bottom: 24px;
            font-size: 16px;

            @media (max-width: $breakpoint_xl) {
                max-width: 230px;
                margin-bottom: 12px;
                height: 45px;
            }

            @media (max-width: $breakpoint_md) {
                max-width: 100%;
            }

            &:nth-child(2n + 1) {
                margin-right: 24px;

                @media (max-width: $breakpoint_xl) {
                    margin-right: 10px;
                }

                @media (max-width: $breakpoint_md) {
                    margin-right: 0;
                }
            }
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            width: 100%;

            &>option {
                color: #000;
                background: transparent;
            }

            &#sex {
                margin-right: 0;

                @media (max-width: $breakpoint_xl) {
                    margin-right: 0;
                }
            }
        }

        .select__wrapper {
            position: relative;
            border: 0;
            padding: 0;

            &:after {
                content: '˅';
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 26px;
                font-weight: 300;
                pointer-events: none;
                z-index: 10;

                @media (max-width: $breakpoint_xl) {
                    top: 5px;
                }

                @media (max-width: $breakpoint_md) {
                    top: 7px;
                }
            }
        }

        select::-ms-expand {
            display: none;
        }
    }

    button {
        font-family: Lato-Regular;
        width: 342px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
        border-radius: 90px;
        box-sizing: border-box;
        padding: 10px 20px;
        background: linear-gradient(269.48deg, #EDA6C9 2.9%, #D76DA0 97.08%);
        border: 0;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background: linear-gradient(269.48deg, #F09FE0 2.9%, #EA5DA0 109.39%);
        }

        @media (max-width: $breakpoint_xl) {
            max-width: 230px;
            height: 45px;
            width: 100%;
        }

        @media (max-width: $breakpoint_md) {
            width: 100%;
            max-width: 100%;
        }
    }

    h2 {
        margin-bottom: 20px;

        @media (max-width: $breakpoint_md) {
            text-align: center;
        }
    }

    &__transformed {
        width: 100%;
        max-width: inherit;
        position: relative;
        top: 0;
        opacity: 1;
        transition: 1s;
        z-index: 8;

        &.hidden {
            z-index: -1;
            opacity: 0;
        }

        @media (max-width: $breakpoint_md) {
            position: relative;
            margin-top: 150px;
            height: fit-content;
        }

        h2 {
            font-family: 'Lato-Regular';
            font-size: 34px;
            text-align: center;
            margin-bottom: 20px;

            @media (max-width: $breakpoint_md) {
                margin-bottom: 20px;
                font-family: 'Lato-Regular';
                font-size: 24px;
            }
        }

        @media (max-width: $breakpoint_md) {
            max-width: 100%;
        }

        .calc {
            &__data {
                width: 100%;
                display: flex;
                justify-content: center;

                @media (max-width: $breakpoint_md) {
                    flex-wrap: wrap;
                    justify-content: center;
                }

                &>div {
                    font-family: Lato-Regular;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    color: #EA9DC3;
                    border: 1px solid #EA9DC3;
                    border-radius: 90px;
                    box-sizing: border-box;
                    padding: 10px 20px;
                    margin: 0 5px 10px 5px;
                    min-width: 200px;
                    width: fit-content;
                    max-width: 300px;
                    height: 35px;

                    @media (max-width: $breakpoint_md) {
                        min-width: 150px;
                        width: auto;
                        text-transform: none;
                        max-width: 100%;
                        margin: 0 5px 10px 5px;
                        height: 40px;
                        font-size: 16px;
                        border-radius: 15px;
                    }
                }
            }

            &__description {
                position: relative;
                width: 100%;
                height: 600px;
                margin-top: 70px;

                @media (max-width: $breakpoint_md) {
                    height: fit-content;
                    margin-bottom: 20px;
                }

                &>div {
                    width: 100%;
                    max-width: 430px;
                    display: flex;
                    flex-direction: column;

                    @media (max-width: $breakpoint_xl) {
                        max-width: 325px;
                    }

                    @media (max-width: $breakpoint_md) {
                        max-width: 100%;
                        margin-bottom: 30px;
                    }

                    &>p:nth-child(1) {
                        position: relative;
                        width: 100%;
                        max-width: 264px;
                        display: inline-block;
                        font-family: Lato-Regular;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: #EA9DC3;
                        padding: 0 30px 22px 30px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #EA9DC3;

                        @media (max-width: $breakpoint_md) {
                            max-width: 100%;
                            text-align: center;
                        }
                    }

                    &:nth-child(1) {
                        position: absolute;
                        left: 0;
                        top: 0;

                        @media (max-width: $breakpoint_md) {
                            position: relative;
                        }

                        &>p:nth-child(1) {
                            left: 30px;
                            text-align: right;
                            align-self: flex-end;

                            @media (max-width: $breakpoint_md) {
                                left: 0;
                                text-align: center;
                                align-self: flex-start;
                            }
                        }

                        &>p:nth-child(2) {
                            max-width: 424px;
                            text-align: right;
                            align-self: flex-end;

                            @media (max-width: $breakpoint_xl) {
                                max-width: 325px;
                            }

                            @media (max-width: $breakpoint_md) {
                                max-width: 100%;
                                text-align: left;
                                align-self: flex-start;
                            }
                        }
                    }

                    &:nth-child(2) {
                        position: absolute;
                        left: 0px;
                        top: 260px;

                        @media (max-width: $breakpoint_md) {
                            position: relative;
                            top: 0;
                        }

                        &>p:nth-child(1) {
                            left: 30px;
                            text-align: right;
                            align-self: flex-end;

                            @media (max-width: $breakpoint_md) {
                                left: 0;
                                text-align: center;
                                align-self: flex-start;
                            }
                        }

                        &>p:nth-child(2) {
                            max-width: 336px;
                            text-align: right;
                            align-self: flex-end;

                            @media (max-width: $breakpoint_xl) {
                                max-width: 250px;
                            }

                            @media (max-width: $breakpoint_md) {
                                max-width: 100%;
                                text-align: left;
                                align-self: flex-start;
                            }
                        }
                    }

                    &:nth-child(3) {
                        position: absolute;
                        right: 0;
                        top: 50px;

                        @media (max-width: $breakpoint_md) {
                            position: relative;
                            top: 0;
                        }

                        &>p:nth-child(1) {
                            right: 30px;
                            align-self: flex-start;
                            text-align: left;

                            @media (max-width: $breakpoint_md) {
                                right: 0;
                                text-align: center;
                                align-self: flex-start;
                            }
                        }

                        &>p:nth-child(2) {
                            max-width: 434px;
                            align-self: flex-start;
                            text-align: left;

                            @media (max-width: $breakpoint_xl) {
                                max-width: 250px;
                            }

                            @media (max-width: $breakpoint_md) {
                                max-width: 100%;
                                text-align: left;
                                align-self: flex-start;
                            }
                        }
                    }
                }
            }

            &__more {
                width: 100%;
                max-width: inherit;

                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: $breakpoint_md) {
                    flex-direction: column;
                }

                &>div {
                    cursor: pointer;
                    width: 342px;
                    height: 55px;
                    margin: 0 13px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    font-size: 18px;
                    background: linear-gradient(269.48deg, #EDA6C9 2.9%, #D76DA0 97.08%);
                    box-shadow: 0px 4px 12px rgba(92, 81, 154, 0.29);
                    border-radius: 90px;

                    @media (max-width: $breakpoint_xl) {
                        width: 300px;
                        height: 50px;
                        font-size: 16px;
                    }

                    @media (max-width: $breakpoint_md) {
                        max-width: 100%;
                        font-size: 16px;
                    }

                    &:hover {
                        background: linear-gradient(269.48deg, #F09FE0 2.9%, #EA5DA0 109.39%);
                    }

                    &:nth-child(2) {
                        background: linear-gradient(244.24deg, #A9D1FA 8.88%, #8C80CF 84.02%);
                        box-shadow: 0px 4px 12px #5572A8;

                        @media (max-width: $breakpoint_md) {
                            margin-top: 20px;
                        }

                        &:hover {
                            background: linear-gradient(244.24deg, #59BBE9 8.88%, #4E55BF 84.02%);
                        }
                    }
                }
            }
        }

        .stamp {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            @media (max-width: $breakpoint_md) {
                flex-direction: column;
                margin-top: 20px;
            }

            &__links {
                width: 100%;
                max-width: 464px;
                height: 226px;
                background: rgba(255, 255, 255, 0.14);
                border-radius: 30px;
                padding: 20px 30px;

                @media (max-width: $breakpoint_xl) {
                    max-width: 350px;
                    margin-right: 20px;
                }

                @media (max-width: $breakpoint_md) {
                    margin: auto;
                    margin-bottom: 20px;
                }

                &>p {
                    position: relative;
                    display: inline-block;

                    &:not(:nth-child(1)) {
                        cursor: pointer;

                        span {
                            margin-left: 3px;
                        }
                    }

                    &.active {
                        color: #EA9DC3;

                        &:before {
                            content: '';
                            position: relative;
                            bottom: 3px;
                            display: inline-block;
                            width: 5px;
                            height: 5px;
                            margin-right: 7px;
                            background: #EA9DC3;
                            border-radius: 50px;
                        }
                    }

                    &:nth-child(1) {
                        display: block;
                        text-align: center;

                        @media (max-width: $breakpoint_md) {
                            display: block;
                            font-family: 'Lato-Regular';
                            text-align: center;
                            margin: auto;
                        }
                    }
                }

                a {
                    width: 100%;
                    display: block;
                    margin-top: 5px;
                    font-family: Lato-Medium;
                    font-weight: 500;
                    font-size: 16px;
                    color: #3A406E;
                    text-decoration: underline;
                }
            }

            &__text {
                width: 100%;
                max-width: 950px;

                &>* {
                    &:nth-child(1) {
                        font-family: Lato-Medium;
                        font-size: 18px;

                        @media (max-width: $breakpoint_xl) {
                            font-size: 16px;
                        }

                        font-style: normal;
                        font-weight: 500;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                    }

                    &:nth-child(2) {
                        font-family: Lato-Light;
                        font-size: 18px;

                        @media (max-width: $breakpoint_xl) {
                            font-size: 16px;
                        }

                        font-style: normal;
                        font-weight: 300;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }

                &.hidden {
                    display: none;
                }
            }
            
            #stamp1__text,
            #stamp2__text,
            #stamp3__text {
                max-height: 210px;
                overflow-y: hidden;
                @media (max-width: $breakpoint_md) {
                    max-height: 1500px;
                }
                &.shown {
                    max-height: 1000px;
                    &>span+br {
                        display: none;
                    }
                    &>span {
                        display: none;
                    }
                }

                &>span {
                    cursor: pointer;
                    color: #EA9DC3;
                    text-decoration: underline;

                    @media (max-width: $breakpoint_md) {
                        display: none;
                    }

                }
            }
        }

        .calc__recalc {
            font-family: Lato-Medium;
            font-weight: 500;
            font-size: 18px;
            color: #3A406E;
            text-decoration: underline;
            text-align: center;
            cursor: pointer;
            margin-top: 20px;

            &:hover {
                color: #EA9DC3;
            }
        }
    }
    
    ::-webkit-input-placeholder { /* Chrome */
        color: #fff;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #fff;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
        opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
        color: #fff;
        opacity: 1;
    }
}