.details {
    position: relative;
    z-index: 6;
    overflow: hidden;
    padding-bottom: 50px;
    &__wrapper {
        position: relative;
        bottom: 150px;
        padding-top: 230px;
        height: 900px;
        z-index: 5;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -140px;
            width: 100%;
            height: 1300px;
            @include image("details__bg.svg", cover);
            @media (max-width: $breakpoint_xl) {
                top: -180px;
            }
            @media (max-width: $breakpoint_md) {
                top: 0;
            }
        }
    }

    h2,p {
        z-index: 10;
        text-align: center;
    }

    #details__canvas {
        position: absolute;
        left: 0;
        top: 144px;
        @media (max-width: $breakpoint_xl) {
            top: 120px;
        }
        @media (max-width: $breakpoint_md) {
            display: none;
        }
    }

    .video__container {
        max-width: inherit;
        display: block;
        width: 590px;
        height: 590px;
        margin: auto;
        margin-top: 87px;
        background: #000;
        border-radius: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: 2s;
        @media (max-width: $breakpoint_xl) {
            margin-top: 83px;
            width: 500px;
            height: 500px;
        }
        @media (max-width: $breakpoint_md) {
            width: 100%;
            border-radius: 0px;
            max-width: 100%;
            height: 400px;
        }

        #details__video {
            max-width: calc(100% - 155px);
            height: 590px;
            @media (max-width: $breakpoint_xl) {
                height: 500px;
            }
            @media (max-width: $breakpoint_md) {
                width: 100%;
                max-width: 100%;
                height: 400px;
            }
    
        }

        &.active {
            width: calc(100% - 170px);
            @media (max-width: $breakpoint_xl) {
                width: calc(100% - 110px);
            }
            @media (max-width: $breakpoint_md) {
                width: 100%;
                max-width: 100%;
            }
            border-radius: 5px;
            #details__video {
                max-width: 100%;
                height: 580px;
                @media (max-width: $breakpoint_xl) {
                    height: 500px;
                }
                @media (max-width: $breakpoint_md) {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}