// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    position: relative;
    z-index: 4;
    &__wrapper {
        position: relative;
        padding-top: 116px;
        height: 1080px;
        @media (max-width: $breakpoint_xl) {
            height: 700px;
        }
        @media (max-width: $breakpoint_md) {
            height: 500px;
        }
        z-index: 5;
        &:before {
            content: '';
            position: absolute;
            top: 0; 
            display: block;
            width: 100%;
            height: 1200px;
            @include image("header__bg.svg", cover);
            will-change: transform;
            @media (min-width: $breakpoint_xl) { 
                top: -100px;
                height: 800px;
            }
            @media (max-width: $breakpoint_md) {
                height: 600px;
            }
            z-index: 1;
        }
    }

    h1 {
        width: 100%;
        max-width: 585px;
        padding-top: 260px;
        @media (max-width: $breakpoint_xl) {
            padding-top: 100px;
            max-width: 500px;
        }
        @media (max-width: $breakpoint_md) {
            padding-top: 50px;
        }
    }


    
    &__imgWrapper {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 800px;
        @media (min-width: $breakpoint_xl) { 
            top: 200px;
            left: -100px;
        }
        @media (max-width: $breakpoint_md) {
            display: none;
        }
        overflow: hidden;
    }

    &__earth {
        position: absolute;
        right: 200px;
        top: 150px;
        width: 500px;
        height: 500px;
        @media (max-width: $breakpoint_xl) {
        }
        @include image("header__earth.png");
    }

    &__mars {
        width: 481px;
        height: 440px;
        position: absolute;
        top: 524px;
        right: 0px;
        top: 350px;
        width: 350px;
        height: 350px;
        @media (max-width: $breakpoint_xl) {
        }
        @include image("header__mars.png");
    }

    &__marsDynamic {
        position: absolute;
        width: 50px;
        height: 50px;
        @include image("header__marsDynamic.png");
    }

    &__mobile {
        display: none;
        
        @media (max-width: $breakpoint_md) {
            display: block;
            position: absolute;
            top: 250px;
            width: calc(100% - 20px);
            height: 400px;
            @include image("header__mobile.svg");
            opacity: .5;
            z-index: 10;
        }
    }

}