.questions {
    position: relative;
    z-index: 6;
    &__wrapper {
        position: relative;
        //overflow: hidden;
        padding-top: 100px;
        padding-bottom: 100px;
        @media (max-width: $breakpoint_md) {
            padding-bottom: 0;
        }
        z-index: 4;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -450px;
            width: 100%;
            height: 1400px;
            @include image("questions__bg.png", cover);
            @media (max-width: $breakpoint_xl) {
                top: -550px;
            }
            @media (max-width: $breakpoint_md) {
                top: -450px;
            }
        }
    }

    &>h2 {
        text-align: center;
    }

    &>p {
        margin-bottom: 50px;
    }

    form {
        width: 100%;
        max-width: 950px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: $breakpoint_xl) {
            max-width: 550px;
        }
        @media (max-width: $breakpoint_md) {
            flex-direction: column;
        }

        input {
            font-family: Lato-Regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
        }

        input[type=text],
        input[type=email]
         {
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            background: transparent;
            filter: drop-shadow(0px 5px 12px rgba(95, 89, 105, 0.14));
            border-radius: 90px;
            color: #fff;
            padding: 20px 27px;
            @media (max-width: $breakpoint_xl) {
                font-family: Lato-Light;
                font-weight: 300;
            }
        }

        input[name=name],
        input[name=email] {
            max-width: 470px;
            width: 100%;
            margin-bottom: 24px;
            @media (max-width: $breakpoint_xl) {
                max-width: 265px;
                height: 50px;
            }
            @media (max-width: $breakpoint_md) {
                max-width: 100%;
            }
        }

        input[name=text] {
            width: 100%;
            margin-bottom: 24px;
            @media (max-width: $breakpoint_xl) {
                max-width: 550px;
                height: 50px;
            }
        }

        div {
            width: 100%;
            margin-bottom: 24px;
            text-align: center;
            label, input {
                cursor: pointer;
                @media (max-width: $breakpoint_md) {
                    font-size: 16px;
                }
            }

            input {
                display: none;
                background: transparent;
                &:checked+label::before {
                    border-color: #fff;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                }
            }

            label {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Lato-Light;
                font-weight: 300;
                font-size: 16px;
                
                @media (max-width: $breakpoint_md) {
                    display: block;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 1px solid #adb5bd;
                    border-radius: 0.25em;
                    margin-right: 0.5em;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                }
            }

            a {
                margin-left: 5px;
                border-bottom: 1px solid #fff;
                &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid #EA9DC3;
                    color: #EA9DC3;
                }
            }
        }

        input[type=submit] {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 464px;
            height: 55px;
            border: 0;
            color: #fff;
            background: linear-gradient(269.48deg, #EDA6C9 2.9%, #D76DA0 97.08%);
            box-shadow: 0px 4px 12px rgba(120, 98, 163, 0.31);
            border-radius: 90px;
            text-transform: uppercase;
            cursor: pointer;
            margin: auto;
            &:hover {
                background: linear-gradient(269.48deg, #F09FE0 2.9%, #EA5DA0 109.39%);
            }
            @media (max-width: $breakpoint_xl) {
                max-width: 400px;
                height: 50px;
            }
        }
    }
    ::-webkit-input-placeholder { /* Chrome */
        color: rgba(255, 255, 255, 0.56);
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: rgba(255, 255, 255, 0.56);
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.56);
        opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
        color: rgba(255, 255, 255, 0.56);
        opacity: 1;
    }
}