.popup {
    display: none;
    &.active {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 500px;
        background: #fff;
        color: #000;
        z-index: 999;
        @media (max-width: $breakpoint_md) {
            border-radius: 25px;
            max-height: calc(100vh - 50px);
        }

        .close {
            position: absolute;
            font-size: 50px;
            font-weight: 300;
            color: #fff;
            right: 0;
            top: 0;
            cursor: pointer;
            &:hover {
                color: #EA9DC3;
            }
            @media (max-width: $breakpoint_md) {
                color: #EA9DC3;
                right: 25px;
                top: 10px;
            }
        }

        .close2 {
            color: #EA9DC3;
            font-family: Lato-Regular;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: center;
            text-transform: uppercase;
            margin-top: 40px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__wrapper {
        display: none;
        &.active {
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, .2);
        }
    }
    
}

.lid__popup.active, 
.buy__popup.active , 
.login__popup.active, 
.registration__popup.active,
.step1__popup,
.step2__popup,
.step3__popup {
    width: 700px;
    height: 700px;
    @media (max-width: $breakpoint_xl) {
        width: 600px;
        height: 600px;
    }
    @media (max-width: $breakpoint_md) {
        max-width: calc(100% - 20px);
        height: fit-content;
    }
    max-width: 100%;
    padding: 25px;

    h3 {
        color: #364277;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input {
            font-family: Lato-Regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
        }

        input[type=text],
        input[type=email],
        input[type=password] 
         {
            border: 1px solid #364277;
            box-sizing: border-box;
            background: transparent;
            filter: drop-shadow(0px 5px 12px rgba(95, 89, 105, 0.14));
            border-radius: 90px;
            padding: 20px 27px;
            color: #000;
            @media (max-width: $breakpoint_xl) {
                max-width: 350px;
            }
            @media (max-width: $breakpoint_md) {
                max-width: 100%;
            }
        }

        input[name=name],
        input[name=email],
        input[name=password] {
            max-width: 470px;
            width: 100%;
            margin-bottom: 24px;
            @media (max-width: $breakpoint_xl) {
                max-width: 350px;
            }
            @media (max-width: $breakpoint_md) {
                max-width: 100%;
            }
        }

        input[name=text] {
            width: 100%;
            margin-bottom: 24px;
        }
        
        div {
            width: 100%;
            margin-bottom: 24px;
            text-align: center;
            label, input {
                cursor: pointer;
                @media (max-width: $breakpoint_md) {
                    font-size: 16px;
                }
            }

            input {
                display: none;
                background: transparent;
                &:checked+label::before {
                    border-color: #EA9DC3;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23EA9DC3' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                }
            }

            label {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Lato-Light;
                font-weight: 300;
                font-size: 16px;
                
                @media (max-width: $breakpoint_md) {
                    display: block;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 1px solid #adb5bd;
                    border-radius: 0.25em;
                    margin-right: 0.5em;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                }
            }

            a {
                margin-left: 5px;
                border-bottom: 1px solid #fff;
                &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid #EA9DC3;
                    color: #EA9DC3;
                }
            }
        }
        
        input[type=submit] {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 464px;
            height: 55px;
            border: 0;
            color: #fff;
            background: linear-gradient(269.48deg, #EDA6C9 2.9%, #D76DA0 97.08%);
            box-shadow: 0px 4px 12px rgba(120, 98, 163, 0.31);
            border-radius: 90px;
            text-transform: uppercase;
            cursor: pointer;
            margin: auto;
            @media (max-width: $breakpoint_xl) {
                max-width: 350px;
            }
            @media (max-width: $breakpoint_md) {
                max-width: 100%;
                height: 50px;
            }
            &:hover {
                background: linear-gradient(269.48deg, #F09FE0 2.9%, #EA5DA0 109.39%);
            }
        }
    }
}

.buy__popup.active {
    width: 950px;
    height: 950px;
    @media (max-width: $breakpoint_xl) {
        height: 600px;
        border-radius: 150px;
    }
    @media (max-width: $breakpoint_md) {
        border-radius: 25px;
        height: auto;
        overflow-y: scroll;
    }
    h3 {
        span {
            color: #EA9DC3;
            @media (max-width: $breakpoint_md) {
                margin-right: 5px;
            }
        }
        @media (max-width: $breakpoint_md) {
            margin-top: 150px;
            margin-bottom: 10px;
            br {
                display: none;
            }
        }
    }

    &>p {
        width: 700px;
        max-width: 100%;
        font-family: Lato-Light;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        width: 700px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        input[type=text],
        input[type=email],
        input[type=password] {
            width: 342px;
            max-width: 100%;
            margin-bottom: 10px;
            @media (max-width: $breakpoint_md) {
                width: 100%;
                height: 40px;
            }
        }

        label {
            margin-left: 10px;
        }

        .buy__checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .buy__price {
            margin: auto;
            font-family: Lato-Medium;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: right;
            color: #495EB7;
            margin-bottom: 37px;
            span {
                margin-left: 10px;
                text-decoration: line-through;
                font-family: Lato-Regular;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
                color: #B5B9CC;
            }
        }

        .buy__card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $breakpoint_md) {
                flex-wrap: wrap;
                justify-content: center;
            }

            input[name=card] {
                display: block;
                max-width: 100%;
                width: 250px;
                margin-top: 10px;
                height: 55px;
                border-right: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                @media (max-width: $breakpoint_md) {
                    width: 100%;
                    border-radius: 25px;
                    border: 1px solid #364277;
                    margin-top: 0;
                    height: 40px;
                }
            }
            input[name=cardDate] {
                display: block;
                max-width: 100%;
                width: 100px;
                margin-top: 10px;
                height: 55px;
                padding-left: 5px;
                border-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                @media (max-width: $breakpoint_md) {
                    width: 100%;
                    padding-left: 0 ;
                    border: 1px solid #364277;
                    border-radius: 25px;
                    padding: 20px 27px;
                    margin-top: 0;
                    box-sizing: border-box;
                    height: 40px;
                }
            }

            input[type=submit] {
                margin-left: 10px;
                max-width: 100%;
                width: 340px;
                @media (max-width: $breakpoint_md) {
                    margin-left: 0;
                    margin-top: 10px;
                    width: 100%;
                    height: 40px;
                }
        
            }
        }
    }
}

.lid__popup_done.active {
    width: 680px;
    height: 680px;
    padding: 35px;

    @media (max-width: $breakpoint_xl) {
        width: 600px;
        height: 600px;
    }
    @media (max-width: $breakpoint_md) {
        max-width: 100%;
        height: fit-content;
    }
    h3 {
        color: #364277;
    }
}


.login__popup.active, 
.registration__popup.active {
    h3 {
        border-bottom: 2px solid #BDC1D2;
        a {
            color: #BDC1D2;
            &.active {
                color: #364277;
                padding-bottom: 2px;
                border-bottom: 2px solid #364277;
                @media (max-width: $breakpoint_xl) {
                    padding-bottom: 11px;
                }
            }
            &:hover {
                color: #364277;
                text-decoration: none;
                padding-bottom: 2px;
                border-bottom: 2px solid #364277;
                @media (max-width: $breakpoint_xl) {
                    padding-bottom: 11px;
                }
            }
        }
    }
    form {
        margin-top: 15px;
    }

    .login__forget {
        font-size: 16px;
        color: #364277;
        text-decoration: underline;
        margin-top: 10px;
        margin-left: auto;
    }
}

.step1__popup,
.step2__popup,
.step3__popup {
    p {
        text-align: center;
    }
    @media (max-width: $breakpoint_md) {
        border-radius: 25px;
        height: auto;
        overflow-y: scroll;
        box-sizing: border-box;
    }
}